# Devnet
RPC_URL="https://api.devnet.solana.com"
BOARD_ACCOUNT="DyQE5BSB22NzGUzqbscVBci2oh5hjRMbHSpznuYjhi5r"
BOARD_DATA_ACCOUNT="GwLmCgymWQPQ3QL2adMgM8ot9DyD3kGJ2MPZ5US9Mqdc"

## Mainnet
#RPC_URL="https://api.mainnet-beta.solana.com"
#BOARD_ACCOUNT="2857efXBFxFnN96NMdZue8ZR4E4L1ca7bFCxpiAdqPS1"
#BOARD_DATA_ACCOUNT="RQp1MWHb9ppSCHBgKPvdCauXCBiWfD7XQRD4GvoaB42"

STREAM_KEY=""  # NB: Copy from twitch
RTMP_ENDPOINT="sel01.contribute.live-video.net/app/${STREAM_KEY}"
#RTMP_ENDPOINT="sin01.contribute.live-video.net/app/${STREAM_KEY}"

CHECK_INTERVAL_SEC=10
IMAGE_FILE_PATH="/tmp/bonkboard.png"  # NB: Path where the fetched image file will be saved

FRAME_RATE="10/1"
STREAM_WIDTH=1920
STREAM_HEIGHT=1920
BIT_RATE=1024
